[submodule "extern/gotm"]
	path = extern/gotm
	url = ../../gotm-model/code.git
[submodule "extern/ersem"]
	path = extern/ersem
	url = ../../pmlmodelling/ersem.git
[submodule "extern/fabm"]
	path = extern/fabm
	url = ../../fabm-model/fabm.git
