[submodule "extern/gotm"]
	path = extern/gotm
	url = ../../gotm-model/code.git
[submodule "extern/ersem"]
	path = extern/ersem
	url = ../../pmlmodelling/ersem.git
[submodule "extern/fabm"]
	path = extern/fabm
	url = ../../fabm-model/fabm.git
[submodule "extern/pisces"]
	path = extern/pisces
	url = ../fabm-pisces.git
[submodule "extern/parsac"]
	path = extern/parsac
	url = ../parsac.git
[submodule "extern/eat"]
	path = extern/eat
	url = ../eat
